<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.ustc_health">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.DesignDemo">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanBleFailedActivity"
            android:theme="@style/Theme.ScanDemo"></activity>
        <activity
            android:name=".ScanBleActivity"
            android:theme="@style/Theme.ScanDemo"></activity>
        <activity
            android:name=".DeviceListActivity"
            android:theme="@style/Theme.Device"></activity>
        <activity
            android:name=".FriendsDetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            >
        </activity>
        <activity
            android:name=".SetActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Set">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            >
        </activity>
    </application>

    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
</manifest>
